{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container pt-100">

        <h2 class="pt-20">Mentions légales</h2>

        <h3>Présentation du site</h3>
        <p class="text-justify pb-10">En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
            l’économie numérique,
            il est précisé aux utilisateurs du site www.euratechkids.com l’identité des différents intervenants dans le
            cadre de sa réalisation et de son suivi :
        </p>

        <h3>Propriétaire :</h3>
        <p class="text-justify pb-140">EURATECHNOLOGIES SEML – Société Publique Locale – SIRET 538 862 277 00018 – 165
            Avenue de Bretagne – 59000 LILLE
            Responsable publication : Raouti CHEHIH – rchehih[@]euratechnologies.com<br>
            Le responsable publication est une personne physique ou une personne morale.
            Webmaster : Samir MOKRANI – smokrani[@]euratechnologies.com / Mathieu GILLION - mgillion[@]euratechnologies.com<br>
            Editeur du site : wildcodeschool.fr/lille/ pour la V1 <br> La V2 est faite par Antoine LEMICHEL apprenant à Yes We Web, site web https://antoine-lemichel.fr
            Hébergeur : OVH – 2 rue Kellerman – 59100 Roubaix
        </p>
    </div>
{% endblock %}
