<div class="container">
    <div class="row px-5 mx-auto">
        <div class="col-12 col-lg-6 pt-5 mx-auto">
            <a href="https://www.euratechnologies.com/" target="_blank"><img src="{{ asset('asset/Euratech.png') }}"
                                                                             alt="logo euratechnologies"
                                                                             class="mr-3" width="200px"></a>
            <a href="https://www.lille.fr/" target="_blank"><img src="{{ asset('asset/Logo_de_Lille.png') }}"
                                                                 alt="Logo de lille" width="80px"></a>
        </div>
        <div class="col-12 col-lg-4 mx-auto pt-5">
            <h2>EuraTech'Kids</h2>
            <p></p>
            <p>165 Avenue de Bretagne <br/>59000 Lille<br/><i>FRANCE</i></p>
        </div>
        <div class="col-12 col-lg-2 pt-5 mx-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#" data-toggle="modal" data-target="#formulairedecontact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('mentions')}}">Mention Légales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('cgu')}}">Conditions Générales d'Utilisation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
